**/.ipynb_checkpoints/**
**/__pycache__/**
**/input/**
**/outputs/**
*.pth
vanilla_gan.py
cc.en.300.bin
**/.vscode/**
data/*
data/coco/annotations/*
data/coco/images/*
!data/coco/
/**embeddings/transformers/**.pickle